<ion-view view-title="Orden">
	<ion-content>
		<div class="list">
			<div class="item item-text-wrap">
				<p>Orden #</p>
				<b>{{vm.order._id | limitTo : 4 : vm.order.length -4 | uppercase}}</b>
			</div>
			<div class="item item-text-wrap">
				<p>Restaurante</p>
				<b>{{vm.order.restaurant.name}}</b>
			</div>
			<div class="item item-text-wrap">
				<p>Dirección de envio</p>
				<b>
					{{vm.order.deliveryAddress.streetType}} {{vm.order.deliveryAddress.num1}} # {{vm.order.deliveryAddress.num2}} - {{vm.order.deliveryAddress.num3}}, {{vm.order.deliveryAddress.address2}}
				</b>
			</div>
			<div class="item item-text-wrap">
				<p>Orden</p>
			</div>
			<div class="item item-text-wrap check">
				<div class="row row-center" ng-repeat="(key, dish) in vm.order.dishes">
					<div class="col">
						<b>{{dish.name}}</b>
					</div>
					<div class="col-25">
						<p><b>{{dish.price | currency : $ : 0}}</b></p>
					</div>
				</div>
			</div>
			<div class="item item-text-wrap check">
				<div class="row">
					<div class="col">
						<small>Subtotal</small>
					</div>
					<div class="col">
						<small>{{vm.order.subTotal | currency : $ : 0 }}</small>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<small>Recargo de envio</small>
					</div>
					<div class="col">
						<small>{{vm.order.deliveryCharge | currency : $ : 0 }}</small>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<b>Total</b>
					</div>
					<div class="col">
						<b>{{vm.order.total | currency : $ : 0 }}</b>
					</div>
				</div>
			</div>
			<div class="item item-text-wrap check">
				<p>Fecha</p>
				<b><span am-time-ago="vm.order.createdAt"></span></b>
			</div>
		</div>
	</ion-content>
</ion-view>