/* Accordion */
.list .item.item-accordion {
	line-height: 38px;
	padding: 0;
	transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
	line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
	display: block !important;
}

.item-thumbnail-left .row{
	padding: 0;
}

/* Form Validation */
.error-container {
  margin: 5px 0;
}
 
.error-container:last-child {
    margin: 5px 0 0;
}
 
.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}
 
.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
}
 
.last-error-container > .error {
  padding: 10px 16px 0;
}
 
.has-error {
  border-bottom: 3px solid #B83E2C;
}
 
.no-error {
  border-bottom: 3px solid green;
}

/* Addresses List */
ion-list.addresses ion-item > .item-content{
	padding: 16px 0 16px 0;
}

/* addressPicker */
.addressPicker{
	padding: 1px 0;
}

.addressPicker p{
	text-align: center;
	font-weight: bolder;
}

/* Order footer bar */
ion-footer-bar .total{
	text-align: right;
}

/* Ordenr modal footer bar */
.check .row > .col:last-child, 
.total.row > .col:last-child,
.check .row > .col-25:last-child{
	text-align-last: right;
}

/* Orders list */
.orderList .item .item-content{
	padding-right: 16px;
}

.orderList .item .item-content .row{
	padding: 0;
}

.orderList .item .item-content .row .col-bottom{
	text-align: right;
}

/* Restaurant isOpen */
restaurant .isOpen{
	position: absolute;
	right: 0;
	top: 0;
}

restaurant .isOpen > button{
	border-radius: 0;
}

/* Restaurant detail */
.restaurant .dish > .row > .col{
	padding-top: 0;
}

.restaurant .dish > .row > .col:first-child > p{
	line-height: normal;
}

.restaurant .dish > .row > .col:first-child > .description{
	height: 68px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	display: -webkit-box;
}

/* NavBar */
.navBar .title{
	background-image: url('../img/icon.png');
	background-size: 44px auto;
	background-repeat: no-repeat;
	background-position: top right;
}

/* Side Menu */
ion-side-menu .viveres i{
	color: #33cd5f;
}

ion-side-menu .restaurants i{
	color: #ff0000;
}