<ion-side-menus enable-menu-with-back-views="true">
  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item class="item-icon-left viveres" menu-close href="#/app/restaurant/{{vm.superMarket}}">
          <i class="icon ion-ios-nutrition"></i>
          Víveres
        </ion-item>
        <ion-item class="item-icon-left restaurants" menu-close href="#/app/home">
          <i class="icon ion-fork"></i>
          Restaurantes
        </ion-item>
        <ion-item menu-close ng-show="!vm.isLoggedIn()" href="#/app/login">
          Iniciar sesión
        </ion-item>
        <ion-item menu-close ng-show="vm.isLoggedIn()" href="#/app/settings">
          Mi Cuenta
        </ion-item>
        <ion-item menu-close ng-show="vm.isLoggedIn()" href="#/app/logout">
          Cerrar Sesión
        </ion-item>
      </ion-list>
    </ion-content>  
  </ion-side-menu>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-light navBar">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
</ion-side-menus>