<ion-item class="item item-thumbnail-left" ng-href="{{ restaurant.isOpen ? '#/app/restaurant/' + restaurant._id : '' }}" ng-if="restaurant.active">
  <img ng-src="{{vm.url}}/static/images/{{restaurant.logo.path}}">
  <h2>{{restaurant.name}}</h2>
  <p>{{restaurant.category.name}}</p>
  <p>Orden Minima {{restaurant.minimumOrder | currency : $ : 0}}</p>
  <div class="isOpen">
    <button ng-if="restaurant.isOpen" class="button button-small button-balanced">
      Abierto
    </button>
    <button ng-if="!restaurant.isOpen" class="button button-small button-assertive">
      Cerrado
    </button>
  </div>
</ion-item>