<ion-view view-title="Registro">
  <ion-content>
    <form class="list" name="form" ng-submit="vm.register(form)" novalidate>
      <label class="item item-input" ng-class="{ 'has-success': form.name.$valid && vm.submitted, 'has-error': form.name.$invalid && vm.submitted }">
        <span class="input-label">Nombre Completo</span>
          <input type="text" name="name" class="form-control" ng-model="vm.user.name" required/>
      </label>
      <div class="error-container" ng-show="form.name.$error.required && vm.submitted">
        <div class="error">
          <i class="ion-information-circled"></i> 
          Campo requerido
        </div>
      </div>

      <label class="item item-input" ng-class="{ 'has-success': form.email.$valid && vm.submitted, 'has-error': form.email.$invalid && vm.submitted }">
        <span class="input-label">Email</span>
          <input type="email" name="email" class="form-control" ng-model="vm.user.email" required mongoose-error/>
      </label>
      <div class="error-container" ng-show="form.email.$error && vm.submitted">
        <div class="error" ng-show="form.email.$error.email && vm.submitted">
          <i class="ion-information-circled"></i> 
          No es un email valido
        </div>
        <div class="error" ng-show="form.email.$error.required && vm.submitted">
          <i class="ion-information-circled"></i> 
          Campo requerido
        </div>
        <div class="error" ng-show="form.email.$error.mongoose">
          <i class="ion-information-circled"></i> 
          {{ vm.errors.email }}
        </div>
      </div>

      <label class="item item-input" ng-class="{ 'has-success': form.phone{{key}}.$valid && vm.submitted, 'has-error': form.phone{{key}}.$invalid && vm.submitted }">
        <span class="input-label">Teléfono</span>
        <input name="phone{{key}}" type="text" ng-model="vm.user.addresses[0].phone" required>
      </label>
      <div class="error-container" ng-show="form.phone{{key}}.$error.required && vm.submitted">
        <div class="error">
          <i class="ion-information-circled"></i> 
          Campo requerido
        </div>
      </div>

      <label class="item item-input item-select" ng-class="{ 'has-success': form.streetType{{key}}.$valid && vm.submitted, 'has-error': form.streetType{{key}}.$invalid && vm.submitted }">
        <span class="input-label">Dirección</span>
        <select name="streetType{{key}}" class="form-control" ng-model="vm.user.addresses[0].streetType" ng-options="streetType for streetType in vm.streetTypes" required>
          <option value="">Seleccione una opción</option>
        </select>
      </label>
      <div class="error-container" ng-show="form.streetType{{key}}.$error.required && vm.submitted">
        <div class="error">
          <i class="ion-information-circled"></i> 
          Campo requerido
        </div>
      </div>

      <div class="row addressPicker">
        <div class="col-33">
          <label class="item item-input" ng-class="{ 'has-success': form.num1{{key}}.$valid && vm.submitted, 'has-error': form.num1{{key}}.$invalid && vm.submitted }">
            <input name="num1{{key}}" type="text" placeholder="56" ng-model="vm.user.addresses[0].num1" required>
          </label>
        </div>
        <div class="col-10 col-center">
          <p>#</p>
        </div>
        <div class="col-25">
          <label class="item item-input" ng-class="{ 'has-success': form.num2{{key}}.$valid && vm.submitted, 'has-error': form.num2{{key}}.$invalid && vm.submitted }">
            <input name="num2{{key}}" type="text" placeholder="44" ng-model="vm.user.addresses[0].num2" required>
          </label>
        </div>
        <div class="col-10 col-center">
          <p>-</p>
        </div>
        <div class="col-25">
          <label class="item item-input" ng-class="{ 'has-success': form.num3{{key}}.$valid && vm.submitted, 'has-error': form.num3{{key}}.$invalid && vm.submitted }">
            <input name="num3{{key}}" type="text" placeholder="17" ng-model="vm.user.addresses[0].num3" required>
          </label>
        </div>
      </div>

      <label class="item item-input item-stacked-label" ng-class="{ 'has-success': form.address2{{key}}.$valid && vm.submitted, 'has-error': form.address2{{key}}.$invalid && vm.submitted }">
        <span class="input-label">Barrio/Casa/Apartamento</span>
        <input name="address2{{key}}" type="text" placeholder="Barrio/Casa/Apartamento" ng-model="vm.user.addresses[0].address2" required>
      </label>
      <div class="error-container" ng-show="form.address2{{key}}.$error.required && vm.submitted">
        <div class="error">
          <i class="ion-information-circled"></i> 
          Campo requerido
        </div>
      </div>

      <label class="item item-input item-stacked-label" ng-class="{ 'has-success': form.description{{key}}.$valid && vm.submitted, 'has-error': form.description{{key}}.$invalid && vm.submitted }">
        <span class="input-label">Descripción</span>
        <input name="description{{key}}" type="text" placeholder="Casa, Oficina, etc" ng-model="vm.user.addresses[0].description" required>
      </label>
      <div class="error-container" ng-show="form.description{{key}}.$error.required && vm.submitted">
        <div class="error">
          <i class="ion-information-circled"></i> 
          Campo requerido
        </div>
      </div>

      <label class="item item-input" ng-class="{ 'has-success': form.password.$valid && vm.submitted, 'has-error': form.password.$invalid && vm.submitted }">
        <span class="input-label">Contraseña</span>
          <input type="password" name="password" class="form-control" ng-model="vm.user.password"  ng-minlength="3" mongoose-error required/>
      </label>
      <div class="error-container" ng-show="form.password.$error && vm.submitted">
        <div class="error" ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
          <i class="ion-information-circled"></i> 
          La contraseña debe tener minimo 3 caracteres
        </div>
        <div class="error" ng-show="form.password.$error.mongoose">
          <i class="ion-information-circled"></i> 
          {{ vm.errors.password }}
        </div>
      </div>

      <label class="item item-input" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted, 'has-error': form.confirmPassword.$invalid && vm.submitted }">
        <span class="input-label">Confirmar contraseña</span>
          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" match="vm.user.password" ng-minlength="3" required/>
      </label>
      <div class="error-container" ng-show="form.confirmPassword.$error && vm.submitted">
        <div class="error" ng-show="(form.confirmPassword.$error.minlength || form.confirmPassword.$error.required) && vm.submitted">
          <i class="ion-information-circled"></i> 
          La contraseña debe tener minimo 3 caracteres
        </div>          
        <div class="error" ng-show="form.confirmPassword.$error.match && vm.submitted">
          <i class="ion-information-circled"></i> 
          Las contraseñas no coinciden
        </div>
      </div>

      <div class="padding">
        <button class="button button-block button-positive activated">Continuar</button>
      </div>
    </form>
  </ion-content>
</ion-view>