<ion-header-bar align-title="left" class="bar-subheader bar-stable">
  <h1 class="title">Editar Contraseña</h1>
  <div class="buttons">
    <button class="button icon ion-checkmark button-dark" ng-click="vm.changePassword()"></button>
  </div>
</ion-header-bar>
<ion-content>
  <form name="vm.passwordForm" ng-submit="vm.changePassword()" novalidate>
    <label class="item item-input" ng-class="{ 'has-success': vm.passwordForm.password.$valid && vm.submitted, 'has-error': vm.passwordForm.password.$invalid && vm.submitted }">
      <span class="input-label">Contraseña actual</span>
        <input type="password" name="password" class="form-control" ng-model="vm.updatePassword.oldPassword"  ng-minlength="3" mongoose-error required/>
    </label>
    <div class="error-container" ng-show="vm.passwordForm.password.$error && vm.submitted">
      <div class="error" ng-show="(vm.passwordForm.password.$error.minlength || vm.passwordForm.password.$error.required) && vm.submitted">
        <i class="ion-information-circled"></i> 
        Contraseña actual requerida
      </div>
      <div class="error" ng-show="vm.passwordForm.password.$error.mongoose">
        <i class="ion-information-circled"></i> 
        {{ vm.errors.other }}
      </div>
    </div>

    <label class="item item-input" ng-class="{ 'has-success': vm.passwordForm.newPassword.$valid && vm.submitted, 'has-error': vm.passwordForm.newPassword.$invalid && vm.submitted }">
      <span class="input-label">Nueva contraseña</span>
        <input type="password" name="newPassword" class="form-control" ng-model="vm.updatePassword.newPassword"  ng-minlength="3" required/>
    </label>
    <div class="error-container" ng-show="vm.passwordForm.newPassword.$error && vm.submitted">
      <div class="error" ng-show="(vm.passwordForm.newPassword.$error.minlength || vm.passwordForm.newPassword.$error.required) && vm.submitted">
        <i class="ion-information-circled"></i> 
        Nueva contraseña requerida
      </div>
    </div>

    <label class="item item-input" ng-class="{ 'has-success': vm.passwordForm.confirmPassword.$valid && vm.submitted, 'has-error': vm.passwordForm.confirmPassword.$invalid && vm.submitted }">
      <span class="input-label">Confirmar nueva contraseña</span>
        <input type="password" name="confirmPassword" class="form-control" ng-model="vm.updatePassword.confirmPassword"  ng-minlength="3" match="vm.updatePassword.newPassword" required/>
    </label>
    <div class="error-container" ng-show="vm.passwordForm.confirmPassword.$error && vm.submitted">
      <div class="error" ng-show="(vm.passwordForm.confirmPassword.$error.minlength || vm.passwordForm.confirmPassword.$error.required) && vm.submitted">
        <i class="ion-information-circled"></i> 
        Nueva Contraseña requerida
      </div>
      <div class="error" ng-show="vm.passwordForm.confirmPassword.$error.match && vm.submitted">
        <i class="ion-information-circled"></i> 
        Las contraseñas no coinciden
      </div>
    </div>
  </form>
</ion-content>