<ion-view view-title="Mi Cuenta">
  <ion-tabs class="tabs-assertive tabs-icon-bottom">
    <ion-tab title="Direcciónes" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" on-select="vm.onTabSelected('addresses')">
      <ion-view>
        <div ng-include="'app/account/settings/settings.addresses.html'"></div>
      </ion-view>
    </ion-tab>
    <ion-tab title="Contraseña" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" on-select="vm.onTabSelected('password')">
      <ion-view>
        <div ng-include="'app/account/settings/settings.password.html'"></div>
      </ion-view>
    </ion-tab>
    <ion-tab title="Pedidos" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline" on-select="vm.onTabSelected('orders')">
      <ion-view>
        <div ng-include="'app/account/settings/settings.orders.html'"></div>
      </ion-view>      
    </ion-tab>      
  </ion-tabs>
  <ion-content>
  </ion-content>
</ion-view>