<ion-header-bar align-title="left" class="bar-subheader bar-stable">
  <h1 class="title">Editar Direcciónes</h1>
  <div class="buttons">
    <button type="button" class="button icon ion-checkmark button-dark" ng-click="vm.updateUser()"></button>
  </div>
</ion-header-bar>
<ion-content>
  <ion-toggle ng-model="vm.shouldShowDelete">
    Eliminar  Dirección?
  </ion-toggle>
  <form name="vm.addressForm" ng-submit="vm.updateUser()" novalidate>
    <ion-list class="addresses" show-delete="vm.shouldShowDelete">
      <ion-item ng-repeat="(key, address) in vm.user.addresses">
        <ion-delete-button class="ion-minus-circled" ng-click="vm.removeAddress(key)"></ion-delete-button>
        <label class="item item-input item-stacked-label" ng-class="{ 'has-success': vm.addressForm.description{{key}}.$valid && vm.submittedUpdate, 'has-error': vm.addressForm.description{{key}}.$invalid && vm.submittedUpdate }">
          <span class="input-label">Descripción</span>
          <input name="description{{key}}" type="text" placeholder="Descripción" ng-model="address.description" required>
        </label>
        <div class="error-container" ng-show="vm.addressForm.description{{key}}.$error.required && vm.submittedUpdate">
          <div class="error">
            <i class="ion-information-circled"></i> 
            Campo requerido
          </div>
        </div>

        <label class="item item-input item-stacked-label" ng-class="{ 'has-success': vm.addressForm.phone{{key}}.$valid && vm.submittedUpdate, 'has-error': vm.addressForm.phone{{key}}.$invalid && vm.submittedUpdate }">
          <span class="input-label">Teléfono</span>
          <input name="phone{{key}}" type="text" placeholder="Teléfono" ng-model="address.phone" required>
        </label>
        <div class="error-container" ng-show="vm.addressForm.phone{{key}}.$error.required && vm.submittedUpdate">
          <div class="error">
            <i class="ion-information-circled"></i> 
            Campo requerido
          </div>
        </div>

        <label class="item item-input item-select" ng-class="{ 'has-success': vm.addressForm.streetType{{key}}.$valid && vm.submittedUpdate, 'has-error': vm.addressForm.streetType{{key}}.$invalid && vm.submittedUpdate }">
          <span class="input-label">Dirección</span>
          <select name="streetType{{key}}" class="form-control" ng-model="address.streetType" ng-options="streetType for streetType in vm.streetTypes" required>
            <option value="">Seleccione una opción</option>
          </select>
        </label>
        <div class="error-container" ng-show="vm.addressForm.streetType{{key}}.$error.required && vm.submittedUpdate">
          <div class="error">
            <i class="ion-information-circled"></i> 
            Campo requerido
          </div>
        </div>

        <div class="row addressPicker">
          <div class="col-33">
            <label class="item item-input" ng-class="{ 'has-success': vm.addressForm.num1{{key}}.$valid && vm.submittedUpdate, 'has-error': vm.addressForm.num1{{key}}.$invalid && vm.submittedUpdate }">
              <input name="num1{{key}}" type="text" placeholder="56" ng-model="address.num1" required>
            </label>
          </div>
          <div class="col-10 col-center">
            <p>#</p>
          </div>
          <div class="col-25">
            <label class="item item-input" ng-class="{ 'has-success': vm.addressForm.num2{{key}}.$valid && vm.submittedUpdate, 'has-error': vm.addressForm.num2{{key}}.$invalid && vm.submittedUpdate }">
              <input name="num2{{key}}" type="text" placeholder="44" ng-model="address.num2" required>
            </label>
          </div>
          <div class="col-10 col-center">
            <p>-</p>
          </div>
          <div class="col-25">
            <label class="item item-input" ng-class="{ 'has-success': vm.addressForm.num3{{key}}.$valid && vm.submittedUpdate, 'has-error': vm.addressForm.num3{{key}}.$invalid && vm.submittedUpdate }">
              <input name="num3{{key}}" type="text" placeholder="17" ng-model="address.num3" required>
            </label>
          </div>
        </div>
        <label class="item item-input item-stacked-label" ng-class="{ 'has-success': vm.addressForm.address2{{key}}.$valid && vm.submittedUpdate, 'has-error': vm.addressForm.address2{{key}}.$invalid && vm.submittedUpdate }">
          <span class="input-label">Barrio/Casa/Apartamento</span>
          <input name="address2{{key}}" type="text" placeholder="Barrio/Casa/Apartamento" ng-model="address.address2" required>
        </label>
        <div class="error-container" ng-show="vm.addressForm.address2{{key}}.$error.required && vm.submittedUpdate">
          <div class="error">
            <i class="ion-information-circled"></i> 
            Campo requerido
          </div>
        </div>
      </ion-item>
    </ion-list>
  </form>
  <button type="button" class="button button-block button-positive" ng-click="vm.addAddress()">
    Añadir Dirección
  </button>
</ion-content>