<ion-header-bar align-title="left" class="bar-subheader bar-stable">
  <h1 class="title">Mis pedidos</h1>
</ion-header-bar>
<ion-content>
  <ion-refresher on-refresh="vm.refreshOrders()">
  </ion-refresher>
  <ion-list class="orderList">
    <ion-item class="item-text-wrap" collection-repeat="order in vm.orders" ng-href="#/app/order/{{order._id}}">
      <div class="row">
        <div class="col">
          <p><b>{{order.restaurant.name}}, # {{order._id | limitTo : 4 : order.length -4 | uppercase}}</b></p>
          <p>{{order.deliveryAddress.streetType}} {{order.deliveryAddress.num1}} # {{order.deliveryAddress.num2}} - {{order.deliveryAddress.num3}} - {{order.deliveryAddress.address2}}</p>
          <p>
            <span am-time-ago="order.createdAt"></span>
          </p>
        </div>
        <div class="col-20 col-bottom">
          <p>{{order.total | currency : $ : 0 }}</p>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>