<ion-view view-title="Iniciar Sesión">
  <ion-content>
    <div class="list">
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
        </label>
        <div>
          <button type="button" class="button button-full button-assertive" ng-show="(form.email.$error.email || form.email.$error.required || form.password.$error.required || vm.errors.other) && vm.submitted">
            <div class="form-group has-error">
              <p class="help-block" ng-show="(form.email.$error.required || form.password.$error.required) && vm.submitted">
                 Ingrese Email y Contraseña.
              </p>
              <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
                 Ingrese un email valido.
              </p>

              <p class="help-block" ng-show="vm.errors.other && vm.submitted">{{ vm.errors.other }}</p>
            </div>
          </button>
        </div>
        <div>
          <button class="button button-block button-positive" type="submit">Enviar</button>
          <ul class="list">
              <li class="item">
                <a class="btn btn-default btn-lg btn-register" href="#/app/signup">
                  Regístrese aquí
                </a>
              </li>
          </ul>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>