<ion-view view-title="Restaurantes">
	<ion-content>
		<label class="item item-input item-select">
			<div class="input-label">
				Categoría
			</div>
			<select ng-model="vm.currentCategory">
				<option value="">Todas</option>
				<option ng-repeat="category in vm.categories" value="{{category._id}}">{{category.name}}</option>
			</select>
		</label>
		
		<ion-refresher on-refresh="vm.refreshRestaurants()">
		</ion-refresher>
		<ion-list>
			<restaurant ng-repeat="restaurant in vm.restaurants | filter: {category: {_id: vm.currentCategory}} | orderBy: ['-isOpen', '-featured']"></restaurant>
		</ion-list>
	</ion-content>
</ion-view>