<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Tu pedido!</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item item-icon-left">
        Tu pedodo será enviado a:
      </ion-item>
      <ion-item class="item item-icon-left item-text-wrap">
        <i class="icon ion-home"></i>
        {{vm.orderHelper.order.deliveryAddress.streetType}} {{vm.orderHelper.order.deliveryAddress.num1}} # {{vm.orderHelper.order.deliveryAddress.num2}} - {{vm.orderHelper.order.deliveryAddress.num3}}, {{vm.orderHelper.order.deliveryAddress.address2}}
      </ion-item>
    </ion-list>
    <button class="button button-full button-positive" ng-click="vm.orderHelper.addressPicker()">
      Cambiar dirección
    </button>
    <div class="row total">
      <div class="col">
        <b>Total: </b>
      </div>
      <div class="col">
        <b>{{vm.orderHelper.order.total | currency : $ : 0 }}</b>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-balanced" ng-click="vm.orderHelper.sendOrder()">
    <h1 class="title">Finalizar pedido</h1>
  </ion-footer-bar>  
</ion-modal-view>