<label class="item item-input item-select">
  <span class="input-label">Dirección</span>
  <select ng-model="vm.orderHelper.selectedAddres">
    <option value="">Seleccione una opción</option>
    <option value="{{key}}" ng-repeat="(key, address) in vm.user.addresses" ng-selected="vm.orderHelper.selectedAddres == key">{{address.description}} {{address.streetType}} {{address.num1}} # {{address.num2}} - {{address.num3}}</option>
  </select>
</label>