<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button type="button" class="button button-large icon ion-ios-arrow-back" ng-click="vm.orderHelper.closeOrderModal()"></button>
    </div>
    <h1 class="title">Tu pedido!</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="card item-text-wrap" ng-repeat="(key, dish) in vm.orderHelper.order.dishes">
          <div class="row row-center">
            <div class="col">
              {{dish.name}}
            </div>
            <div class="col-25">
              <p>{{dish.price | currency : $ : 0}}</p>
            </div>
            <div class="col-10">
              <button type="button" class="button button-assertive button-small icon ion-ios-close" ng-click="vm.orderHelper.removeToCar(key)"></button>
            </div>
          </div>
      </ion-item>
    </ion-list>
    <div class="check">
      <div class="row">
        <div class="col">
          <small>Subtotal</small>
        </div>
        <div class="col">
          <small>{{vm.orderHelper.order.subTotal | currency : $ : 0 }}</small>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <small>Recargo de envio</small>
        </div>
        <div class="col">
          <small>{{vm.orderHelper.order.deliveryCharge | currency : $ : 0 }}</small>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <b>Total</b>
        </div>
        <div class="col">
          <b>{{vm.orderHelper.order.total | currency : $ : 0 }}</b>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-balanced" ng-click="vm.orderHelper.orderModalToAddress()">
    <h1 class="title">Confirmar pedido</h1>
  </ion-footer-bar>  
</ion-modal-view>