<ion-view view-title="todomicilio.com.co">
	<ion-content>
		<div class="list restaurant">
			<div class="row">
				<div class="col">
					<h4>{{vm.restaurant.name}}</h4>
				</div>
			</div>
			<div class="item item-thumbnail-left">
				<img ng-src="{{vm.url}}/static/images/{{vm.restaurant.logo.path}}">
				<div class="row">
					<div class="col col-67">
						<p><small>Categoria</small></p>
						<p><small>Costo de Envio</small></p>
						<p><small>Orden Minima</small></p>
						<p><small>Tiempo de entrega</small></p>
					</div>
					<div class="col col-33">
						<p><small>{{vm.restaurant.category.name}}</small></p>
						<p><small>{{vm.restaurant.deliveryCharge | currency : $ : 0}}</small></p>
						<p><small>{{vm.restaurant.minimumOrder | currency : $ : 0}}</small></p>
						<p><small>{{vm.restaurant.deliveryTime}} Minutos</small></p>
					</div>
				</div>
			</div>
			<ion-list>
				<div ng-repeat="(menuKey, menu) in vm.restaurant.menu">
					<ion-item class="item-stable" ng-click="vm.toggleGroup(menu)" ng-class="{active: vm.isGroupShown(menu)}">
						<i class="icon" ng-class="vm.isGroupShown(menu) ? 'ion-minus' : 'ion-plus'"></i>
						&nbsp;
						{{menu.title}}
					</ion-item>
					<ion-item class="item-accordion item-text-wrap" ng-repeat="(dishKey, dish) in menu.dishes" ng-show="vm.isGroupShown(menu)">
						<div class="item dish item-thumbnail-left" href="#">
							<img ng-src="{{vm.url}}/static/images/{{dish.img.path}}">
							<div class="row">
								<div class="col col-67">
									<p class="name"><small><b>{{dish.name}}</b></small></p>
									<p class="description"><small>{{dish.description}}</small></p>
								</div>
								<div class="col col-33">
									<p><small>{{dish.price | currency : $ : 0}}</small></p>
									<p>
										<button class="button button-assertive button-small icon-left ion-ios-cart" ng-click="vm.orderHelper.addToCar(menuKey, dishKey)">
											Pedir
										</button>
									</p>
								</div>
							</div>
						</div>
					</ion-item>
				</div>
			</ion-list>
		</div>
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-positive" ng-show="vm.orderHelper.order.dishes.length > 0" ng-click="vm.orderHelper.fireOrdenModal()">
		<div class="row row-center">
			<div class="col">
				<button type="button" class="button icon ion-ios-cart button-large">
					Ver Pedido
				</button>
			</div>
			<div class="col total">
				<span>{{vm.orderHelper.order.total | currency : $ : 0}}</span>
			</div>
		</div>
	</ion-footer-bar>	
</ion-view>